blinker==1.9.0
bottle==0.13.2
click==8.1.8
Flask==3.1.0
Flask-Cors==5.0.0
Flask-SQLAlchemy==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
proxy_tools==0.1.0
pyobjc-core==11.0
pyobjc-framework-Cocoa==11.0
pyobjc-framework-Quartz==11.0
pyobjc-framework-Security==11.0
pyobjc-framework-WebKit==11.0
pypresence==4.3.0
python-dotenv==1.0.1
pywebview==5.4
SQLAlchemy==2.0.38
typing_extensions==4.12.2
Werkzeug==3.1.3
