/* 全日イベントは表示しない */
.rbc-allday-cell,
/* Agenda表示のTimeカラムは表示しない */
.rbc-agenda-time-cell,
.rbc-agenda-view > table > thead > tr > th:nth-child(2) 
{
    display: none;
}

/* Agenda ビューの日付部分の背景色と文字色をリセット */
.rbc-agenda-date-cell {
    background-color: #fff !important;
    color: #1a1a1a !important;
}

/* Agenda ビューの文字サイズを調整 */
.rbc-agenda-view table th,
.rbc-agenda-view table td,
.rbc-agenda-view .rbc-agenda-empty {
    font-size: 12px !important;
}

/* Agenda 以外のビューの文字サイズを統一 */
.rbc-month-view,
.rbc-month-view * {
    font-size: 10px !important;
}

.rbc-time-view,
.rbc-time-view * {
    font-size: 10px !important;
}

/* スクロールバーの分だけヘッダと表示がずれる問題の対応 */
.rbc-time-content {
    overflow-y: scroll !important; /* 常にスクロールバーを表示 */
}

@media (prefers-color-scheme: dark) {
    /* Agenda ビューの日付部分の背景色と文字色をリセット */
    .rbc-agenda-date-cell {
        background-color: #1a1a1a !important;
        color: inherit !important;
    }

    /* 日付、時刻表示のテキスト色 */
    .rbc-toolbar-label,
    .rbc-header,
    .rbc-time-label,
    .rbc-label {
        color: #999;
    }

    /* ツールバーのボタンの文字色を明るく */
    .rbc-toolbar button {
        color: #999 !important;
    }

    /* ツールバーのボタンの背景色 */
    .rbc-toolbar .rbc-btn-group button {
        background-color: #1a1a1a;
        border-color: #555555;
    }

    .rbc-toolbar .rbc-btn-group .rbc-active {
        background-color: rgba(255, 255, 255, 0.16);
        color: #ccc !important;
    }

    .rbc-toolbar .rbc-btn-group button:hover {
        background-color: #999;
        color: #ccc !important;
    }


    /* 今日を示すセルの背景色 */
    .rbc-today {
        background-color: #333333 !important;
    }

    /* 罫線 */
    .rbc-calendar * {
        border-color: #555555 !important;
    }
}
