@media (prefers-color-scheme: dark) {

    /* 日付、時刻表示のテキスト色 */
    .rbc-toolbar-label,
    .rbc-header,
    .rbc-time-label,
    .rbc-label {
        color: #999;
    }

    /* ツールバーのボタンの文字色を明るく */
    .rbc-toolbar button {
        color: #999 !important;
    }    

    /* ツールバーのボタンの背景色 */
    .rbc-toolbar .rbc-btn-group button {
        background-color: #1a1a1a;
        border-color: #555555;
    }
    .rbc-toolbar .rbc-btn-group .rbc-active {
        background-color: rgba(255, 255, 255, 0.16);
        color: #ccc !important;
    }
    .rbc-toolbar .rbc-btn-group button:hover {
        background-color: #999;
        color: #ccc !important;
    }


    /* 今日を示すセルの背景色 */
    .rbc-today {
        background-color: #333333 !important;
    }

    /* 罫線 */
    .rbc-calendar * {
        border-color: #555555 !important;
    }

    /* 全日イベントは表示しない */
    .rbc-allday-cell {
        display: none;
    }
}